.Editor {
  text-align: left;
  width: 100%;
}

textarea {
  width: 100%;
  resize: none;
}

.boxsizingBorder {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
